.header {
	padding: 0 30px;
	background-color: #282c34;
	min-height: 12vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: calc(10px + 2vmin);
	color: white;
	img {
		max-height: 12vh;
		width: 100%;
	}

	@keyframes Header-logo-spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		img {
			animation: Header-logo-spin infinite 20s linear;
		}
	}
}